@import url(./globals.css);

header {
  width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 20%;
  img {
    width: 40px;
  }
  nav {

    ul {
      display: flex;
      flex-direction: row;
      gap: 54px;
      li {
        a{
          color: #A9A9AA;
          font-size: 20px;
          font-weight: 500;
        }
        .active {
          color: #FE390C;
          font-size: 20px;
          font-weight: 500;
        }
      }
    }
  }
  button {
    background: none;
    border-radius: 4px;
    border: 1px solid #FE390C;
    padding: 12px 16px;
    color: #FE390C;
    font-size: 20px;
    font-weight: 500;
  }
}

.service-block {
  background: #000;
  padding: 188px 0;
  text-align: center;
  &_heading {
    font-size: 130px;
    font-weight: 400;
    color: #fff;
  }
  &_links {
    font-size: 16px;
    font-weight: 700;
    a {
      &:first-child {
        color: #A9A9AA;
      }
      &:last-child {
        color: #fff;
      }
    }
  }
}

.questions {
  padding: 80px 193px;
  background: #F7F7F7;
  width: 1200px;
  margin: 0 auto;
  h2 {
    font-size: 40px;
    font-weight: 400;
    color: #000;
    span {
      color: #FE390C;
      font-size: 80px;
      font-weight: 400;
    }
  }
}